<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Edit appoiment</title>

    <link rel="shortcut icon" href="/static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('/static/img/background.jpg');">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/patient/">
        <img alt="Brand" class="img-responsive" src="/static/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/patient/doctors">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patient/editPatient">Edit account</a>
            </li>

        </ul>
        <span class="navbar-text">
            <form action="/logout" method="post">
                <div><button type="submit" class="btn-primary">Sign Out</button></div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            </form>
    </span>
    </div>
</nav>

<h1 class="h40">Your appoiment</h1>
<div class="center">
    {{#appoiment}}
        <div><label> Date appoiment : <input type="datetime-local" value="{{dateAppointment}}" name="dateAppoiment" required class="select" readonly/> </label></div>
        <div><label> Price: <input type="number" step="0.01" name="price" value="{{price}}" minlength="1" required class="select" readonly/> </label></div>
        <div><label> Patient: <input type="text" name="patientName" value="{{patientDto.fullName}}" minlength="1" placeholder="Patient name" class="bigInputAppointment" readonly/></label></div>
        <div><label> Doctor: <input type="text" name="doctorName" value="{{doctorDto.fullName}}" minlength="1" class="bigInputAppointment" readonly/></label></div>
        <div><label> Status: <input type="text" name="status" value="{{status}}" minlength="1" class="bigInputAppointment" readonly/></label></div>
        <div><label> Description: <textarea name="description" minlength="1" required class="textarea" readonly>{{description}}</textarea></label></div>
    {{/appoiment}}

</div>

<form action="/patient" method="get" class="center">
    <div><input type="submit" value="Back" class="btn-primary bigBtn"/></div>
</form>

<table class="table table-bordered table-primary">
    <tr>
        <th>Name</th>
        <th>Dose</th>
        <th>Dosage form</th>
    </tr>

    {{#medicines}}
        <tr>
            <td>{{name}}</td>
            <td>{{dose}}</td>
            <td>{{dosageForm}}</td>
            <td>
                <form action="/patient/appoiment/{{appoiment.id}}/medicine/{{packingId}}" method="get">
                    <div><input type="submit" value="Open" class="btn btn-primary"/></div>
                </form>
            </td>
        </tr>
    {{/medicines}}
</table>

</body>
</html>