<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Create doctor</title>
</head>
<body>
Create doctor
<form action="/doctor/doctors/createDoctor" method="post">
    <div><label> User name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password" minlength="5" required /> </label></div>
    <div><label> Full name: <input type="text" name="fullName" minlength="5" required /> </label></div>

    Positions<br>
    {{#positions}}
        <input name="{{.}}" type="checkbox">{{.}}<br>
    {{/positions}}

    Roles<br>
    {{#roles}}
        <input name="{{.}}" type="checkbox">{{.}}<br>
    {{/roles}}

    <div><input type="submit" value="Registration"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>

<form action="/doctor" method="get">
    <div><input type="submit" value="Main"/></div>
</form>

</body>
</html>