<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Edit patient</title>
</head>
<body>
Create doctor
<form action="/doctor/patients" method="post">
    {{#patient}}
        <div><label> Username : <input type="text" name="username" value="{{username}}" minlength="2" required /> </label></div>
        <div><label> Full name: <input type="text" name="fullName" value="{{fullName}}" minlength="5" required /> </label></div>
        <input type="hidden" value="{{id}}" name="id">
    {{/patient}}

    <div><input type="submit" value="Save"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
<form action="/doctor" method="get">
    <div><input type="submit" value="Main"/></div>
</form>


<table>
    <tr>
        <th>dateAppointment</th>
        <th>price</th>
        <th>status</th>
        <th>patient</th>
        <th>doctor</th>
    </tr>

    {{#appoiments}}
        <tr>
            <td>{{dateAppointment}}</td>
            <td>{{price}}</td>
            <td>
                {{#status}}
                    '{{.}}'
                {{/status}}
            </td>
            <td>{{patient}}</td>
            <td>{{doctor}}</td>
            <td>
                <form action="/doctor/appoiments/{{id}}" method="get">
                    <div><input type="submit" value="Edit"/></div>
                </form>
            </td>
            <td>
                <form action="/doctor/appoiments/{{id}}" method="post">
                    <div><input type="submit" value="Delete"/></div>
                    <input type="hidden" name="_method" value="delete" wfd_invisible="true">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                </form>
            </td>
        </tr>
    {{/appoiments}}
</table>

</body>
</html>