<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Edit patient</title>
</head>
<body>
Edit patient
<form action="/patient/editPatient" method="post">
    {{#patientModel}}
        <div><label> Username : <input type="text" name="username" value="{{username}}" minlength="2" required /> </label></div>
        <div><label> Full name: <input type="text" name="fullName" value="{{fullName}}" minlength="5" required /> </label></div>
        <div><label> Password: <input type="text" name="password" value="{{password}}" minlength="5" required /> </label></div>
        <input type="hidden" value="{{id}}" name="id">
    {{/patientModel}}
    <div><input type="submit" value="Save"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>

<form action="/patient" method="get">
    <div><input type="submit" value="Main"/></div>
</form>
</body>
</html>