<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Edit appoiment</title>
</head>
<body>
Edit appoiment
<form action="/doctor/appoiments/" method="post">
    {{#appoimentModel}}
        <div><label> Date appoiment : <input type="datetime-local" value="{{dateAppointment}}" name="dateAppoiment" required /> </label></div>
        <div><label> Price: <input type="number" step="0.01" name="price" value="{{price}}" minlength="1" required /> </label></div>
        <div><label> Description: <textarea name="description" minlength="1" required >{{description}}</textarea></label></div>
        <input type="hidden" value="{{id}}" name="id">
    {{/appoimentModel}}

    Doctor
    <select name="doctorModel">
        {{#doctors}}
            {{#entrySet}}
                <option value="{{key.id}}" {{#value}}selected{{/value}}>{{key}}</option>
            {{/entrySet}}
        {{/doctors}}
    </select>
    <br>
    Patient
    <select name="patientModel">
        {{#patients}}
            {{#entrySet}}
                <option value="{{key.id}}" {{#value}}selected{{/value}}>{{key}}</option>
            {{/entrySet}}
        {{/patients}}
    </select><br>
    Status<br>
    <select name="status">
        {{#statuses}}
            {{#entrySet}}
                <option value="{{key}}" {{#value}}selected{{/value}}>{{key}}</option>
            {{/entrySet}}
        {{/statuses}}
    </select><br>

    <div><input type="submit" value="Save"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
<form action="/doctor" method="get">
    <div><input type="submit" value="Main"/></div>
</form>

</body>
</html>