<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Patients</title>
</head>
<body>
<form action="/doctor/patients/createPatient" method="get">
    <div><input type="submit" value="Create"/></div>
</form>

All patients
<table>
    <tr>
        <th>username</th>
        <th>fullName</th>
    </tr>

    {{#patients}}
        <tr>
            <td>{{username}}</td>
            <td>{{fullName}}</td>
            <td>
                <form action="/doctor/patients/{{id}}" method="get">
                    <div><input type="submit" value="Edit"/></div>
                </form>
            </td>
            <td>
                <form action="/doctor/patients/{{id}}" method="post">
                    <input type="hidden" name="_method" value="delete" wfd_invisible="true">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    {{/patients}}
</table>

<form action="/doctor" method="get">
    <div><input type="submit" value="Main"/></div>
</form>

</body>
</html>