<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Veterinary clinic</title>
</head>
<body>
Welcome!
<form action="/login" method="get">
    <div><input type="submit" value="Sign in"/></div>
</form>
<form action="/registration" method="get">
    <div><input type="submit" value="Registration"/></div>
</form>
</body>
</html>